<div class="calendar-container">
    <div class="calendar">
      <div class="calendar-headline">
        <div class="calendar-headline-month">
          {{ firstDayOfActiveMonth().monthShort }},
          {{ firstDayOfActiveMonth().year }}
        </div>
        <div class="calendar-headline-controls">
          <div class="calendar-headline-control" (click)="goToPreviousMonth()">
            «
          </div>
          <div
            class="calendar-headline-control calendar-headline-control-today"
            (click)="goToToday()"
          >
            Today
          </div>
          <div class="calendar-headline-control" (click)="goToNextMonth()">»</div>
        </div>
      </div>
      <div class="calendar-weeks-grid">
        @for (weekDay of weekDays(); track $index) {
          <div class="calendar-weeks-grid-cell">{{ weekDay }}</div>
        }
      </div>
      <div class="calendar-grid">
        @for (dayOfMonth of daysOfMonth(); track $index) {
          <div
            [ngClass]="{
              'calendar-grid-cell': true,
              'calendar-grid-cell-active':
                activeDay()?.toISODate() === dayOfMonth.toISODate(),
              'calendar-grid-cell-inactive':
                dayOfMonth.month !== firstDayOfActiveMonth().month
            }"
            (click)="setActiveDay(dayOfMonth)"
          >
            {{ dayOfMonth.day }}
          </div>
        }
      </div>
    </div>
    <div class="schedule">
      <div class="schedule-headline">
        @if (activeDay(); as activeDay) {
          <div>{{ activeDay.toLocaleString(DATE_MED) }}</div>
        }
      </div>
      <div class="appointment-list">
        @if (activeDay(); as activeDay) {
          @if (getAppointmentsForDay(activeDay).length > 0) {
            @for (appointment of getAppointmentsForDay(activeDay); track $index) {
              <div class="appointment-item" 
                  (click)="onAppointmentClick(appointment)"
                  [class.selected]="isSelected(appointment)">
                <strong>{{ formatTime(appointment.time) }}</strong>
                - 
                <span *ngIf="appointment.clientId; else externalClient">
                  {{ appointment.clientId.firstName }} {{ appointment.clientId.lastName }}
                </span>
                <ng-template #externalClient>
                  {{ appointment.clientName }} (External)
                </ng-template>
                <span *ngIf="appointment.folderId">({{ appointment.folderId?.number }})</span>
                <div class="appointment-status" [class]="appointment.status?.toLowerCase()">
                  {{ appointment.status }}
                </div>
              </div>
            }
          } @else {
            <div class="appointment-item empty">Nothing scheduled for this day</div>
          }
        }
      </div>
    </div>
</div>